#header {
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 9999;
}

#main {
  margin-top: 56px;
}

img {
  max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: var(--tomato-color);
  border-color: var(--tomato-color);
  box-shadow: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #fe4344;
  border-color: #fe3638;
}

.btn-primary.btn-shadow {
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254, 105, 106, 0.9);
}
/* card product component */
.card-product {
  transition: all 0.25s ease-in-out;
}
.card-product:hover {
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
}
.text-accent {
  color: #7e73b8;
}
.card-title {
  color: #474a54;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.2px;
  transition: all 0.15s ease-in-out;
}
.card-title:hover {
  color: var(--tomato-color);
}
.card-subtitle {
  color: #9da1a9;
  font-size: 14px;
}
.card-subtitle:hover {
  color: #80848f;
  font-size: 14px;
}
.material-icons.star-yellow {
  color: #f4a469;
  font-size: 16px;
  line-height: normal;
}

.material-icons.star-white {
  color: #ccc;
  font-size: 16px;
}

.card-product {
  cursor: pointer;
}
